html {
    background: linear-gradient(to right, cornflowerblue, turquoise)
}

/* .discs {
   
} */

.add_disc {
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    border-radius: 4px;
    color: white;
    background: none;
    font-size: 24px;
}

.add_disc:hover {
    color: cornflowerblue;
    background-color: white;
    border: none;
}

.poll_container {
    display: flex;
    justify-content: center;
}

.disc_container1 {
    display: flex;
    border-bottom: 4px solid black;
    width: 40%;
    margin-top: 8%;
    height: 125px;
    margin-bottom: 0%;
    flex-direction: column-reverse;
    margin-left: 18%;
}

.disc_container2 {
    display: flex;
    border-bottom: 4px solid black;
    width: 40%;
    margin-top: 8%;
    height: 125px;
    margin-bottom: 0%;
    flex-direction: column-reverse;
}

.disc_container3 {
    display: flex;
    border-bottom: 4px solid black;
    width: 40%;
    margin-top: 8%;
    height: 125px;
    margin-bottom: 0%;
    flex-direction: column-reverse;
    margin-right: 18%;
}

/* .polls {
    height: 150px;
    border-left: 4px solid black;
} */

.header {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}